# Copy to common.yml and fill in the binary and monitoring endpoints.
subject_under_test:
  binary_path: /tmp/prometheus

duration: 60m

metric_scrape_load:
  active_series: 5000000

# user and api_key are optional Basic Auth credentials.
monitoring:
  prometheus:
    url: https://prometheus-prod-05-gb-south-0.grafana.net/api/prom/push
    user: "627787"
    api_key: 
  loki:
    url: https://logs-prod-008.grafana.net/loki/api/v1/push
    user: "312864"
    api_key: 
  pyroscope:
    url: https://profiles-prod-014.grafana.net
    user: "463507"
    api_key: 
