prometheus.receive_http "target_metrics" {
	http {
		listen_address = {{printf "%q" .ReceiveHost}}
		listen_port    = {{.ReceivePort}}
	}
	forward_to = [prometheus.remote_write.default.receiver]
}

prometheus.scrape "target" {
	targets = [{
		"__address__" = {{printf "%q" .TargetAddr}},
	}]
	forward_to = [prometheus.remote_write.default.receiver]
	job_name   = "target"
}

pyroscope.scrape "target" {
	targets = [{
		"__address__"  = {{printf "%q" .TargetAddr}},
		"service_name" = {{printf "%q" .Label}},
	}]
	forward_to = [pyroscope.write.default.receiver]

	profiling_config {
		profile.process_cpu { enabled = true }
		profile.memory      { enabled = true }
		profile.goroutine   { enabled = false }
		profile.block       { enabled = false }
		profile.mutex       { enabled = false }
	}
}

pyroscope.write "default" {
	endpoint {
		url = {{printf "%q" .Pyroscope.URL}}
{{- if and .Pyroscope.User .Pyroscope.APIKey}}
		basic_auth {
			username = {{printf "%q" .Pyroscope.User}}
			password = {{printf "%q" .Pyroscope.APIKey}}
		}
{{- end}}
	}
}

local.file_match "target_logs" {
	path_targets = [{
		"__path__" = {{printf "%q" .TargetLogPath}},
		"job"      = "target",
		"run"      = {{printf "%q" .Label}},
	}]
}

loki.source.file "target_logs" {
	targets    = local.file_match.target_logs.targets
	forward_to = [loki.write.default.receiver]
}

loki.write "default" {
	endpoint {
		url = {{printf "%q" .Loki.URL}}
{{- if and .Loki.User .Loki.APIKey}}
		basic_auth {
			username = {{printf "%q" .Loki.User}}
			password = {{printf "%q" .Loki.APIKey}}
		}
{{- end}}
	}
}

prometheus.exporter.unix "host" { }

prometheus.scrape "host" {
	targets    = prometheus.exporter.unix.host.targets
	forward_to = [prometheus.remote_write.default.receiver]
	job_name   = "host"
}

prometheus.remote_write "default" {
	external_labels = {
		"test" = {{printf "%q" .Label}},
	}
	endpoint {
		url = {{printf "%q" .Prometheus.URL}}
{{- if and .Prometheus.User .Prometheus.APIKey}}
		basic_auth {
			username = {{printf "%q" .Prometheus.User}}
			password = {{printf "%q" .Prometheus.APIKey}}
		}
{{- end}}
	}
}
